Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^db_backups/ - [F,L]
  RewriteRule ^database/(check_login_debug|reset_password|set_avatar|check_avatars)\.php$ - [F,L]
</IfModule>
